* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section img {
    background: linear-gradient(#3C3B3F, #605C3C);
    width: 80vw;
    height: 800px;
    margin: 20px 130px;
    position: relative;
}

div>img {
    width: 160px;
    height: 160px;
    background: greenyellow;
    border-radius: 100%;
    position: absolute;
    animation: ballanimation;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes ballanimation {
    0% {
        top: 0;
        left: 0;
    }

    20% {
        top: 69%;
        left: 10%;
        
    }

    40% {
        top: 0;
        left: 30%;
    }

    60% {
        top: 69%;
        left: 40%;
    }

    80% {
        top: 0;
        left: 55%;
    }

    100% {
        top: 100%;
        left: 80%;
    }

}

